/* Reset Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full screen height */
    object-fit: cover;
    z-index: -1; /* Send image to the background */
}

.hero-overlay {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px;
    width: 80%;
    border-radius: 10px;
}

.heading{
    color: #F56692;
    font-size: 45px;
    font-style: bold;
}

.para{
    font-size: 25px;
    margin-top: 20px;
}

/* INFO CARDS */
.info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    width: 80%;
}


/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
        align-items: center;
    }
}
